<ion-header>
  <ion-toolbar color="danger">
    <div text-end="">
    login
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item>
    <ion-label color="primary" position="floating" [(ngModel)]="usuario">Usuario</ion-label>
    <ion-input floating></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating"[(ngModel)]="contrasena">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button fill="solid" expand="full" color="danger" [routerLink]="['/chat']">
    Ir al chat
  </ion-button>
  <div text-center="">
  <ion-button expand="medium" color="warning" [routerLink]="['/registro']">
    Registrate
  </ion-button>
  </div>
</ion-content>
